:root {
  --body-background: hsl(0, 0%, 95%);
  --button-background: hsl(0, 0%, 95%);
  --body-color: hsla(0, 0%, 100%, 0.75);
  --headlines-color: hsl(0, 0%, 95%);
  --color-orange: hsl(31, 77%, 52%);
  --color-medium-green: hsl(184, 100%, 22%);
  --color-dark-green: hsl(179, 100%, 13%);

  --ff-headlines: "Big Shoulders Display", cursive;
  --ff-body: "Lexend Deca", sans-serif;
  --ff-secondary: "Big Shoulders Display", cursive;
	
  --text-orange: var(--color-orange);
  --text-medium-green: var(--color-medium-green);
  --text-dark-green: var(--color-dark-green);
}

.bg-orange {
  background-color: var(--color-orange);
}
.bg-orange a.button {
  color: var(--color-orange);
}
.bg-medium-green {
  background-color: var(--color-medium-green);
}
.bg-medium a.button {
  color: var(--color-medium);
}
.bg-dark-green {
  background-color: var(--color-dark-green);
}
.bg-dark a.button {
  color: var(--color-dark-green);
}

body {
  background-color: var(--body-background);
  font-family: var(--ff-body);
  font-size: 16px;
  padding: 5em 1em;
}

.container-lg {
	max-width: 920px;
}


/* border radius mobile */
.br--col-1 {
  border-radius: 0.5em 0.5em 0 0;
}
.br--col-3 {
  border-radius: 0 0 0.5em 0.5em;
}
@media (min-width: 768px) {
  /* border radius desktop */
  .br--col-1 {
    border-radius: 0.5em 0 0 0.5em;
  }
  .br--col-3 {
    border-radius: 0 0.5em 0.5em 0;
  }
}

.column-img {
  margin-bottom: 2em;
}
.column--title {
  text-transform: uppercase;
  color: var(--headlines-color);
  font-family: var(--ff-headlines);
  font-size: 2.5rem;
}
.column--text {
  color: var(--body-color);
}

/* buttons */
.btn, 
.column--text {
	font-size: 15px;
}
.btn {
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}
.btn-orange {
	color: var(--text-orange);
}
.btn-medium-green {
	color: var(--text-medium-green);
}
.btn-dark-green {
	color: var(--text-dark-green);
}
.btn:hover {
	color: #f9fafb;
	background-color: transparent;
	border-color: #f9fafb;
}





.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
